<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>vue-test</title>
        <link href="{{ asset('static/css/main.css') }}" rel="stylesheet">
    </head>
    <body>
	здрасте
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>