{% extends 'base.html.twig' %}

{% block body %}
<div id=app></div>
{% endblock %}

{% block javascripts %}
<script type=text/javascript src=/static/js/manifest.main.js></script>
<script type=text/javascript src=/static/js/vendor.main.js></script>
<script type=text/javascript src=/static/js/app.main.js></script>
{% endblock %}
